{% extends 'base.html'%}
{% import 'macros.html' as macro%}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> Welcome to the best Pitcth IP </title>
        {% endif %}
        



        {% block styles%}
        {{ super() }}
        <link rel="stylesheet" href="{{url_for('static',filename='index.css')}}">
        {% endblock %}
        
    </head>
  
    <body>
    

  
   
{% block content %}

<div class="container">
    
     
    <a href="/pitch/new" class="btn"><button><strong>New pitch</strong></button></a><br>


{%for pitch in pitches%}
<p>{{pitch.category}}</p>
<a href="/comment/new/{{pitch.id}}"><button><strong>New comment</strong></button></a>
{%endfor%}
{{macro.displayComment(comment)}}
</div>
{% endblock%}
 

</body>
</html>