<!-- {% macro displayPitcheList(pitch_list) %}

    {% for pitch in pitch_list %}
        <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2 pitch-card">
            <img src="{{ pitch.poster }}" alt="{{ pitch.title }} poster" class="img-responsive">
            <li class="text-center">
                <a href="/pitch/{{pitch.id}}">
                    {{ pitch.title|truncate(10)}}</a>
            </li>
        </div>

    {% endfor %}

{% endmacro %} -->
<!-- < Displaying reviews macro -->
{% macro displayPitchList(pitch_list) %}
    {% for pitch in pitch_list %}
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 pitch-card">
        <h2> {{ pitch.title}} </h2>
        <p> {{ pitch.pitch | truncate(30) }}</p>
    </div>
    {% endfor %}
{% endmacro %} 