{% macro displayPost(posts) %}

    {% for post in posts %}
        <div style="background-color: bisque">
            <div class="container">
            

                <h2 class="tle">{{pitch.title}} </h2>
                <p >{{pitch.description}}</p>
                <div class="bttn">
                    <a href="/pitch/{{pitch.id}}" class="pst"><button><strong>view comment</strong></button></a><br>
                    <a href="comment/new/{{pitch.id}}" class="btn btn_primary"><button><strong>Add Comment</strong></button></a>
                    
                </div> 
        

    {% endfor %}

{% endmacro %} 

<h3>Comments</h3>
{% macro displayComment(comments) %}
              

    {%for comment in comments%}
        <p>{{comment.comment}}</p>
        
    {%endfor%}

       </div>
{% endmacro %}  

